{% extends "app/base.html" %}
{% block title %}Popis pacijenata{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm" style="border-radius: 10px;">
                <div class="card-header bg-info text-white" style="border-radius: 10px;">
                    <h2 class="mb-0">Popis pacijenata</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for patient in patients %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'patient_detail' patient.id %}" class="text-decoration-none text-dark">
                                    {{ patient.user.last_name }} {{ patient.user.first_name}} 
                                </a>
                                
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
