{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}
{% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. You are already logged in.</p>
{% else %}
<div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong card-login" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Prijavi se</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger text-center" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="form-floating mb-3">
                            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" required="" id="id_username" style="height: 45px">
                            <label for="id_username" class="" style="padding-left: 0%; ">Korisničko ime</label>
                            
                        </div>
                        <div class="form-floating mb-3" >
                            <input type="password" name="password" autocomplete="current-password" class="form-control" required="" id="id_password" style="height: 45px">
                            <label for="id_password" class="ms-2" style="padding-left: 0%; ">Lozinka</label>
                            
                        </div>
                        <!---
                        {% for field in form.visible_fields %}
                        <div class="form-floating mb-3">
                            {% render_field field class="form-control" %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                    -->


                        <div class="mt-4 pt-2">
                            <button class="btn btn-primary btn-lg btn-block" type="submit" id="prijava">PRIJAVA</button>
                        </div>
                    </form>
                    <div class="text-center mt-4">
                        <!-- <a href="{% url 'password_reset' %}">Zaboravili ste lozinku?</a> -->
                        <p><a href="{% url 'register' %}">Ne posjedujete korisnički račun?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
