{% extends "app/base.html" %}

{% block title %}Registracija{% endblock %}

{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Registracija</h3>
            <form method="POST" novalidate>
              {% csrf_token %}
              {{ form.non_field_errors }}

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <!-- <label class="form-label" for="id_firstName">Ime:</label>-->
                    <input type="text" id="id_firstName" class="form-control form-control-lg" name="{{ form.firstName.name }}" value="{{ form.firstName.value|default_if_none:'' }}" placeholder="Ime" style="height: 45px"/>
                    {{ form.firstName.errors }}
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <!-- <label class="form-label" for="id_lastName">Prezime:</label>-->
                    <input type="text" id="id_lastName" class="form-control form-control-lg" name="{{ form.lastName.name }}" value="{{ form.lastName.value|default_if_none:'' }}" placeholder="Prezime" style="height: 45px"/>
                    {{ form.lastName.errors }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                  <!-- <label class="form-label" for="id_username">Korisničko ime:</label> -->
                    <input type="text" id="id_username" class="form-control form-control-lg" name="{{ form.username.name }}" value="{{ form.username.value|default_if_none:'' }}" placeholder="Korisničko ime" style="height: 45px"/>
                    {{ form.username.errors }}
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <!-- <label class="form-label" for="id_email">Email:</label> -->
                    <input type="email" id="id_email" class="form-control form-control-lg" name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}" placeholder="Email" style="height: 45px"/>
                    {{ form.email.errors }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <!-- <label class="form-label" for="id_password1">Lozinka:</label> -->
                    <input type="password" id="id_password1" class="form-control form-control-lg" name="{{ form.password1.name }}" placeholder="Lozinka" style="height: 45px"/>
                    {{ form.password1.errors }}
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <!-- <label class="form-label" for="id_password2">Ponovi lozinku:</label> -->
                    <input type="password" id="id_password2" class="form-control form-control-lg" name="{{ form.password2.name }}" placeholder="Ponovi lozinku" style="height: 45px"/>
                    {{ form.password2.errors }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <!-- <label class="form-label" for="id_date_of_birth">Datum rođenja:</label>-->
                    <input type="date" id="id_date_of_birth" class="form-control form-control-lg date-input" name="{{ form.dateOfBirth.name }}" value="{{ form.dateOfBirth.value|default_if_none:'' }}"  style="height: 45px"/>
                    {{ form.dateOfBirth.errors }}
                  </div>
                </div>
                <!--
                <div class="col-md-6 mb-4">
                  <h6 class="mb-2 pb-1">Spol: </h6>
                  {{ form.gender }}
                  {{ form.gender.errors }}
                  
                </div>
              -->
              <div class="col-md-6 mb-4">
                <h6 class="mb-2 pb-1">Spol: </h6>
                <div id="id_gender" style="margin-top: 0px;"><div>
  <label for="id_gender_0"><input type="radio" name="gender" value="M" required="" id="id_gender_0">
Muški</label>

</div><div>
  <label for="id_gender_1"><input type="radio" name="gender" value="F" required="" id="id_gender_1">
Ženski</label>

</div>
</div>
                
                
              </div>
              </div>

              <div class="form-group form-check">
                <label class="form-check-label" for="id_isDoctor">
                  <input type="checkbox" id="id_isDoctor" class="form-check-input"  name="{{ form.isDoctor.name }}" {% if form.isDoctor.value %}checked{% endif %} /> Jeste li liječnik?
                </label>
                {{ form.isDoctor.errors }}
              </div>

              <div class="mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Registriraj se</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
